<a href="https://colab.research.google.com/github/kkr016/mongoDB/blob/main/Task_mongo_CRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo

In [3]:
# Connecting Mongo Database with Object

db = pymongo.MongoClient("mongodb://kkr016:qwerty12@kkr016-shard-00-00.vrrci.mongodb.net:27017,kkr016-shard-00-01.vrrci.mongodb.net:27017,kkr016-shard-00-02.vrrci.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-k1j4zb-shard-0&authSource=admin&retryWrites=true&w=majority")

db

MongoClient(host=['kkr016-shard-00-02.vrrci.mongodb.net:27017', 'kkr016-shard-00-01.vrrci.mongodb.net:27017', 'kkr016-shard-00-00.vrrci.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-k1j4zb-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True)

In [5]:
print("List of Database in MongoDB\n")

k = db.list_database_names()

for i in k:
  print(i)

List of Database in MongoDB

python_creation
sample_airbnb
sample_analytics
sample_geospatial
sample_mflix
sample_restaurants
sample_supplies
sample_training
sample_weatherdata
student_database
admin
local

In [6]:
# Creating A New Collection

col_1=db["telephone_directory"]

In [33]:
print("Create a Directory Which Has Fields Like Name, Phone number, Place etc.,")

t = [
     {"unicode":0, "name":"goku", "mobile":9923457643, "Place":"japan", "age":30, "category":"a"},
     {"unicode":1, "name":"gohan", "mobile":2435356789, "Place":"tokyo", "age":20, "category":"b"},
     {"unicode":2, "name":"goten", "mobile":8765435675, "Place":"tokyo", "age":15, "category":"c"},
     {"unicode":3, "name":"vegeta", "mobile":2387498885, "Place":"hirosima", "age":31, "category":"a"},
     {"unicode":4, "name":"trunks", "mobile":8765727282, "Place":"nagasaki", "age":16, "category":"b"},
     {"unicode":5, "name":"ash", "mobile":92242572567, "Place":"parrot town", "age":18, "category":"c"},
     {"unicode":6, "name":"shinchan", "mobile":5464334666, "Place":"kasukabe", "age":6, "category":"c"},
     {"unicode":7, "name":"stark", "mobile":8827377624, "Place":"newyork", "age":53, "category":"c"},
     {"unicode":8, "name":"steve", "mobile":5444786589, "Place":"queens", "age": 120, "category":"b"},
     {"unicode":9, "name":"thor", "mobile":9876768643, "Place":"asgard", "age":1002, "category":"c"}
     ]

Create a Directory Which Has Fields Like Name, Phone number, Place etc.,

In [34]:
# Creating New Collection

rec_1 = col_1["profile"]

rec_1.insert_many(t)

In [38]:
rec_1.insert_one({"unicode":10, "name":"thanos", "mobile":7876517763, "Place":"chernobyl", "age":1065, "category":"c"})

In [39]:
for i in rec_1.find():
  print(i)

{'_id': ObjectId('6227b697c3c6881b3a2766f9'), 'unicode': 0, 'name': 'goku', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'_id': ObjectId('6227b697c3c6881b3a2766fa'), 'unicode': 1, 'name': 'gohan', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'_id': ObjectId('6227b697c3c6881b3a2766fb'), 'unicode': 2, 'name': 'goten', 'mobile': 8765435675, 'Place': 'tokyo', 'age': 15, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a2766fc'), 'unicode': 3, 'name': 'vegeta', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}
{'_id': ObjectId('6227b697c3c6881b3a2766fd'), 'unicode': 4, 'name': 'trunks', 'mobile': 8765727282, 'Place': 'nagasaki', 'age': 16, 'category': 'b'}
{'_id': ObjectId('6227b697c3c6881b3a2766fe'), 'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a2766ff'), 'unicode': 6, 'name': 'shinchan', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a276700'), 'unicode': 7, 'name': 'stark', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a276701'), 'unicode': 8, 'name': 'steve', 'mobile': 5444786589, 'Place': 'queens', 'age': 120, 'category': 'b'}
{'_id': ObjectId('6227b697c3c6881b3a276702'), 'unicode': 9, 'name': 'thor', 'mobile': 9876768643, 'Place': 'asgard', 'age': 1002, 'category': 'c'}
{'_id': ObjectId('6227b6bfc3c6881b3a276703'), 'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [45]:
# Query to Find Records Created Above

print("Query to Find The Profile Where Age is Greater Than 18\n")

for i in rec_1.find( {"age":{"$gt":18} }, { '_id':0, "name":1, "age":1, "unicode":1 } ):
  print(i)

Query to Find The Profile Where Age is Greater Than 18

{'unicode': 0, 'name': 'goku', 'age': 30}
{'unicode': 1, 'name': 'gohan', 'age': 20}
{'unicode': 3, 'name': 'vegeta', 'age': 31}
{'unicode': 7, 'name': 'stark', 'age': 53}
{'unicode': 8, 'name': 'steve', 'age': 120}
{'unicode': 9, 'name': 'thor', 'age': 1002}
{'unicode': 10, 'name': 'thanos', 'age': 1065}

In [46]:
print("Query to Find The Profile Where Age is Greater Than 18 and Category is c\n")

for i in rec_1.find( { "$and": [ {"age":{"$gt":18} }, { 'category': 'c' } ] } , { '_id':0 } ):
  print(i)

Query to Find The Profile Where Age is Greater Than 18 and Category is c

{'unicode': 7, 'name': 'stark', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 9, 'name': 'thor', 'mobile': 9876768643, 'Place': 'asgard', 'age': 1002, 'category': 'c'}
{'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [49]:
print("Query to Find The Profile Where Age is Greater Than 18 and Category is \'a\' and also Unicode Lessthan 4\n")

for i in rec_1.find( { "$or": [ { "$and": [ {"age":{"$gt":18} }, { 'category': 'a' } ] }, { "unicode": { "$lt":4} } ] } , { '_id':0 } ):
  print(i)

Query to Find The Profile Where Age is Greater Than 18 and Category is 'a' and also Unicode Lessthan 4

{'unicode': 0, 'name': 'goku', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'unicode': 1, 'name': 'gohan', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'unicode': 2, 'name': 'goten', 'mobile': 8765435675, 'Place': 'tokyo', 'age': 15, 'category': 'c'}
{'unicode': 3, 'name': 'vegeta', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}

In [50]:
# Update Queries

query = {"age" : {"$lt":18}}
new_values = {"$set" : {'category' : "c", 'Place' : "India"}}

rec_1.update_one(query, new_values)

In [51]:
for i in rec_1.find( { 'category': 'c' } , { '_id':0 } ):
  print(i)

{'unicode': 2, 'name': 'goten', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'unicode': 6, 'name': 'shinchan', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'unicode': 7, 'name': 'stark', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 9, 'name': 'thor', 'mobile': 9876768643, 'Place': 'asgard', 'age': 1002, 'category': 'c'}
{'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [52]:
query = { "$and": [ { "category" : "c" }, {'age': 1002 } ] }
new_values = {"$set" : {'age' : 18}}

rec_1.update_one(query, new_values)

In [53]:
for i in rec_1.find( { 'category': 'c' } , { '_id':0 } ):
  print(i)

{'unicode': 2, 'name': 'goten', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'unicode': 6, 'name': 'shinchan', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'unicode': 7, 'name': 'stark', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 9, 'name': 'thor', 'mobile': 9876768643, 'Place': 'asgard', 'age': 18, 'category': 'c'}
{'unicode': 10, 'name': 'thanos', 'mobile': 7876517763, 'Place': 'chernobyl', 'age': 1065, 'category': 'c'}

In [54]:
# Delete Queries

Query ={'Place': "chernobyl"}

rec_1.delete_one(Query)

In [55]:
for i in rec_1.find( { } , { '_id':0 } ):
  print(i)

{'unicode': 0, 'name': 'goku', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'unicode': 1, 'name': 'gohan', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'unicode': 2, 'name': 'goten', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'unicode': 3, 'name': 'vegeta', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}
{'unicode': 4, 'name': 'trunks', 'mobile': 8765727282, 'Place': 'nagasaki', 'age': 16, 'category': 'b'}
{'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'unicode': 6, 'name': 'shinchan', 'mobile': 5464334666, 'Place': 'kasukabe', 'age': 6, 'category': 'c'}
{'unicode': 7, 'name': 'stark', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'unicode': 8, 'name': 'steve', 'mobile': 5444786589, 'Place': 'queens', 'age': 120, 'category': 'b'}
{'unicode': 9, 'name': 'thor', 'mobile': 9876768643, 'Place': 'asgard', 'age': 18, 'category': 'c'}

In [57]:
Query ={"$and": [ { 'category': "c" }, { 'unicode': 6} ] }

rec_1.delete_one(Query)

In [60]:
for i in rec_1.find():
  print(i)

{'_id': ObjectId('6227b697c3c6881b3a2766f9'), 'unicode': 0, 'name': 'goku', 'mobile': 9923457643, 'Place': 'japan', 'age': 30, 'category': 'a'}
{'_id': ObjectId('6227b697c3c6881b3a2766fa'), 'unicode': 1, 'name': 'gohan', 'mobile': 2435356789, 'Place': 'tokyo', 'age': 20, 'category': 'b'}
{'_id': ObjectId('6227b697c3c6881b3a2766fb'), 'unicode': 2, 'name': 'goten', 'mobile': 8765435675, 'Place': 'India', 'age': 15, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a2766fc'), 'unicode': 3, 'name': 'vegeta', 'mobile': 2387498885, 'Place': 'hirosima', 'age': 31, 'category': 'a'}
{'_id': ObjectId('6227b697c3c6881b3a2766fd'), 'unicode': 4, 'name': 'trunks', 'mobile': 8765727282, 'Place': 'nagasaki', 'age': 16, 'category': 'b'}
{'_id': ObjectId('6227b697c3c6881b3a2766fe'), 'unicode': 5, 'name': 'ash', 'mobile': 92242572567, 'Place': 'parrot town', 'age': 18, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a276700'), 'unicode': 7, 'name': 'stark', 'mobile': 8827377624, 'Place': 'newyork', 'age': 53, 'category': 'c'}
{'_id': ObjectId('6227b697c3c6881b3a276701'), 'unicode': 8, 'name': 'steve', 'mobile': 5444786589, 'Place': 'queens', 'age': 120, 'category': 'b'}
{'_id': ObjectId('6227b697c3c6881b3a276702'), 'unicode': 9, 'name': 'thor', 'mobile': 9876768643, 'Place': 'asgard', 'age': 18, 'category': 'c'}